/*Generic*/
.hidden_div
	display: none
.required
  color: red

body
  padding-bottom: 60px

.website-list
  list-style-type: none
.website-item
  position: relative
  padding: 4px 10px 10px 30px
  margin-bottom: 15px
  .vote
    position: absolute
    top: 0
    left: 0
    .vote-btn
      text-align: center
      display: block
      .fa
        font-size: 1.6em
    .number
      text-align: center
      display: block
      font-size: 1.2em
  .title
    font-size: 1.4em
  .img
    float: right
    max-width: 150px
  .created
    font-size: 0.9em
    color: #999

.footer
  position: fixed
  bottom: 0
  width: 100%
  /* Set the fixed height of the footer here */
  height: 40px
  line-height: 40px
  text-align: center
  color: #666
  background-color: #f5f5f5

/* Customization */
#iron-router-progress
  background: #008DB7
